.container{
    display: grid;
    height: 100vh;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 0.2fr 3fr 2fr 1.5fr;
    grid-template-areas:
            "Nav Nav Nav Nav"
            "sidebar main main main"
            "sidebar ContentOne ContentTwo ContentThree"
            "sidebar footer footer footer"
    ;
    gap: 5px;
}
nav{
    background-color: #da891f;
    grid-area: Nav;
}
main{
    background-color: #3ab82e;
    grid-area: main;
}
.sidebar{
    background-color: #aab82e;
    grid-area: sidebar;
}
#content1{
    background-color: #2e9cb8;
    grid-area: ContentOne;
}
#content2{
    background-color: rgb(255, 38, 0);
    grid-area: ContentTwo ;
}
#content3{
    background-color: purple;
    grid-area: ContentThree;
}
footer{
    background-color: rgb(17, 0, 255);
    grid-area: footer;
}